body {
    margin: 0;
}

header {
    background:rgb(0, 0, 0);
    width:100%;
    margin: 0 auto;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    transition: 1s ease;
}

h1 {
    text-align:center;
    color: blanchedalmond;
    margin: 0;
}


h2 {
    text-align:left;
    color: rgb(99, 0, 145);
    margin: 0;
}

.container {
    width:100%;
    height: 100vh;
    margin: 0 auto;
    display:flex;
    transition: 1s ease;
}

.main {
    width: 100%;
    height: 100%;
    display:flex;
    flex-flow: column wrap;
    background-color: darkviolet;
    transition: 0.5s ease;
}

.sidebar1 {
    width: 0%;
    height: 100%;
    background-color:cornflowerblue;
    transition: 0.5s ease;
}

.sidebar2 {
    width: 0%;
    height: 100%;
    background-color:rgb(237, 228, 100);
    transition: 0.5s ease;
}

.side_bigger {
    width: 50%;
}

.main_smaller {
    width: 50%;
}

.oneX {
    font-size: 100%;
}

.oneandhalfX {
    font-size: 150%;
}

.twoX {
    font-size: 200%;
}