body {
    margin: 0;
    font-size: 3.3rem;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

header {
    background:rgb(0, 0, 0);
    width:100%;
    margin: 0 auto;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    transition: 1s ease;
}

h1 {
    text-align:center;
    color: blanchedalmond;
    margin: 0;
}

h2 {
    text-align:left;
    margin: 0;
}

.container {
    width:100%;
    height: 100vh;
    margin: 0 auto;
    display:flex;
    transition: 1s ease;
}

.main {
    width: 100%;
    height: 100%;
    display:flex;
    flex-flow: column wrap;
    background-color: rgb(229, 167, 255);
    transition: 0.5s ease;
}

.sidebar1 {
    width: 0%;
    height: 100%;
    background-color:cornflowerblue;
    transition: 0.5s ease;
}

.sidebar2 {
    width: 0%;
    height: 100%;
    background-color:rgb(237, 228, 100);
    transition: 0.5s ease;
}

.side_bigger {
    width: 50%;
}

.main_smaller {
    width: 50%;
}

/*access menu font sizes*/
.oneX {
    font-size: 100%;
}

.oneandhalfX {
    font-size: 150%;
}

.twoX {
    font-size: 200%;
}

/*access menu colours*/
.whiteblack {
    background-color: #000000;
    color: white;
}

.blackwhite {
    background-color: white;
    color: #000000;
}

.theme1 {
    color: #453372;
    background-color: cyan;
}

.theme1alt {
    color: cyan;
    background-color: #453372;
}

.theme2 {
    color: #261244;
    background-color: yellow;
}

.theme2alt {
    color: rgb(255, 255, 0);
  background-color: #261244;
}

.theme3 {
    color: blue;
    background-color: #d6f6b7;
}

.theme3alt {
    color: #d6f6b7;
    background-color: blue;
}